/* StatsHeader */
.stats {
  width: 100%;
  height: 35px;
  /*padding: 1%;*/
  margin: 10px;
  /*background: $asfalto-black;*/
	
  text-align: center;
  font-size: 18px;
  color: $defaulted-white;
  &.is-disabled {
    pointer-events: none;
  }

  @media only screen and (max-width: $desktop) {
    padding: 0;
    margin: 0 0 60px;
  }
}

hr.emBlock {
  background-color: $defaulted-white;
  width: 80%;
  height: 1px;
  border: none;
  margin: auto;
  /*align: left;*/
  /*border-top: 1px solid black*/
}